<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowerroutine.v1tcc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.flowerroutine.v1tcc.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_flower_routine"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.V1TCC">
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuNecessidadeActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuOcorrenciaActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterOcorrenciaActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterNecessidadeActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterInstrucaoActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuInstrucaoActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterVencimentoActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuVencimentoActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterAlertaActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterTarefaActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuTarefaActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.TarefaActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuRelatorioActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.AlarmReceiverProcedimentoActivity"
            android:exported="true" />

        <receiver
            android:name="com.flowerroutine.v1tcc.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- ponto de entrada do app             <action android:name="android.intent.action.MAIN" /> -->

                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.flowerroutine.v1tcc.activities.ProcedimentosActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuProcedimentoActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MenuMainActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.ManterProcedimentoActivity"
            android:exported="true" />
        <activity
            android:name="com.flowerroutine.v1tcc.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>